*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    text-align: center;
}
.container{
    text-align: center;
    margin: 40px 10px;
    padding: 20px;
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: darkgray;
}
.container h1{
    background-color: cadetblue;
    padding: 2% 0;
}
.container h2{
    margin-top: 1%;
}
.container img{
    margin-top: 1%;
    width: 30%;
}
table, th, td{
    width: 50%;
    margin: 0 auto;
    padding: 1%;
    border: 1px black solid;
}
.col-container{
    text-align: center;
    margin: 40px 10px;
    padding: 20px;
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.col-container1{
    margin-top: 2%;
}
.col-container1 form{
    margin-top: 2%;
}
#bulutangkis{
    text-align: center;
    margin: 40px 10px;
    padding: 20px;
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
#bulutangkis h2{
    margin-top: 1%;
}
#bulutangkis img{
    width: 700px;
}
#bulutangkis p{
    margin: 0 10%;
    text-align: justify;
}
#basket{
    text-align: center;
    margin: 40px 10px;
    padding: 20px;
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;   
}
#basket h2{
    margin-top: 1%;
}
#basket img{
    width: 700px;
}
#basket p{
    margin: 0 10%;
    text-align: justify;
}
#futsal{
    text-align: center;
    margin: 40px 10px;
    padding: 20px;
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;   
}
#futsal h2{
    margin-top: 1%;
}
#futsal img{
    width: 700px;
}
#futsal p{
    margin: 0 10%;
    text-align: justify;
}